@charset "UTF-8";

body
{
backgriund-color: black;
color: blue;
font-size: 13pt;
font-family: arial;
}

h1
{
  tipo de letra: fum;
  color: orange;
  font-size: 30pt;
}

h2
{
  tipo da letra: fum;
  cor da letra: orange;
  tamanho da letra: 20pt;
}

a
{
tipo de letra: arial;
cor de letra: black;
tamanho: 15pt;
sem linhas sublinhadas 
}

